<!-- <modal #lgModal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Details!</h4>
    </modal-header>
    <form [formGroup]="form" (ngSubmit)="save(form.value, form.valid)">

        <modal-body>
            <input type="text" class="input" formControlName="id" class="form-control" required /><br/>
            <input type="text" class="input" formControlName="description" class="form-control" ng-required="" />

            <label>{{id}}</label>
        </modal-body>
        <modal-footer>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid" (click)="modal.close()">Save</button>
            <button type="button" class="btn btn-primary" (click)="modal.close()">Cancel</button>
        </modal-footer>
    </form>

</modal> -->
