<div class="d-flex flex-row align-items-center flex-wrap" style="padding-left: 20%;">
    <label >Filter:</label>
    <input id="temp" type="text" class="form-control" placeholder="Search" style="width: 180px;"
        [(ngModel)]="filterText" (keyup)="Filter() ">
    <label  class="search-matches" *ngIf="filterText !='' "> Search result for: '{{filterText}}'
        <a class="btn btn-info btn-sm" href="# " role="button" (click)="ResetFilter(); ">Reset</a>
    </label>
    <label >Category</label>
    <select class="form-control" style="width: 150px;" [(ngModel)]="filterCategory" (change)="Filter()">
        <option *ngFor=" let category of categories " [ngValue]="category">{{category}}</option>
    </select>
    <label >Available Recipes: {{recipesCount}} </label>
    <a class="btn btn-info btn-sm" *ngIf="filterCategory !='All' " href="# " role="button "
        (click)="ResetCategoryFilter(); ">Reset</a>
</div>

<hr>

<div class='row justify-content-md-center' style="padding-left: 15px;">
    <div *ngFor="let recipe of recipes">
        <div class="card dr-card" >
            <div class="card-header dr-card-header" >
                {{(recipe.description | slice:0:30) + '...'}}
            </div>
            <div class="card-body overflow-hidden" style="padding: 5px">
                <a href="http://m.vk.com/photo-34889014_{{recipe.id}}" target="_blank"
                    style="float: left;padding-right: 10px;">
                    <img src="{{recipe.image_url}} " width='160' height='110' />
                </a>

                <div>{{recipe.description}} </div>
            </div>
            <div class="card-footer dr-card-footer" >
                {{recipe.category}}
            </div>
        </div>
    </div>
</div>


<recipe-details></recipe-details>
